<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"

xmlns:gap   = "http://phonegap.com/ns/1.0"
id          = "com.natescode.compass"
version     = "1.0.0"
versionCode = "10" >

	<!-- versionCode is optional and Android only -->

	<preference name="phonegap-version" value="3.1.0" />
	<name>Compass</name>
	<description>Basic Compass app</description>
	<author href="http://natescode.com" email="nate@natescode.com">Nathan Hedglin</author>
	<feature name="Compass">
		<param name="android-package" value="org.apache.cordova.CompassListener" />
	</feature>
</widget>