<widget id="com.natescode.compass" version="0.1">
	<name>Compass</name>
	<description>A simple compass app</description>
	<author email="nate@natescode.com" href="http://natescode.com">Nate from NatesCode</author>
	<param name="android-package" value="org.apache.cordova.deviceorientation.CompassListener" />
</feature>
<content src="index.html" />
<access origin="*" />
<preference name="Fullscreen" value="true" />
<preference name="WebViewBounce" value="true" />
</widget>